.main,.left,.right{
    display: flex;
    flex-direction: column;
    background: rgb(221, 221, 221);
    /* color: aliceblue; */
    margin: 5px;
    padding: 20px;
    /* height: 60vh; */
    justify-content: space-around;
    border-radius: 10px;
}

.main{
    grid-area: main;
    
}


.left{
    grid-area: left;
}

.right{
    grid-area: right;
}



.navbar{
    margin: 10px 5px 5px 5px;
    padding: 20px;
    grid-area: nav;
    border-radius: 10px;
}
